*{

  font-family: Arial, Helvetica, sans-serif;
}

.app-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

 .heading{
  text-align: center;
  color: rgb(65, 46, 186);
  margin: 10px;
 }